/* ! Lista Rapportini */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tabBar {
    position: sticky;
}

.titleRP {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightslategray;
}

.fl {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.btnDP {
    width: 100%;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
}

.btnDP span {
    height: 100%;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
}

.btnDP:focus span {
    outline: none !important;
}

.calendar {
    width: 100vw !important;
    border-radius: 10px;
    margin-bottom: 15px;
}

.item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    font-family: "Poppins", sans-serif;
}

.item:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.item:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.item:focus div,
span::before {
    color: white;
}

.sapMSLIInfo.sapMSLIInfoNone {
    min-width: none;
    max-width: fit-content;
    margin-right: 20px;
    color: #91c8f6;
    font-weight: bold;
}

.sapMSLIDescriptionText {
    max-width: 70%;
}

.sapMSLIWithDescription .sapMSLIDescription {
    padding-top: 0.5rem;
    justify-content: space-between;
}

/* ! Login Screen */

.noScroll {
    overflow: hidden;
}

.regestaLogo {
    text-align: center;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.loginHeader {
    text-align: center;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.flexCenter {
    align-items: center;
    justify-content: center;
    transform: scale(1.3);
}

.roundedInput div {
    border-radius: 100px !important;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

input:focus textarea {
    outline: none !important;
}

.roundedButton span {
    border-radius: 50px !important;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}

/* ! Navbar */
#__bar0{
    height: 7vh !important;
}




/* ! Footer */
.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar {
    height: 7vh;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar button {
    height: 5vh;
    width: 20vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    position: relative;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar button span {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar button:hover {
    background-color: transparent;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar button span span::before {
    margin: auto 0 !important;
}

.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar button:active {
    background-color: rgba(255, 255, 255, 0.1);
    color: red;
}
.sapUiSizeCompact .sapMPageHeader .sapMIBar,
.sapUiSizeCompact .sapMPageFooter .sapMIBar button:focus {
    background-color: rgba(255, 255, 255, 0.1);
    color: red !important;
}

.sapMBtnBase .sapMBtn .sapMBarChild span {
    height: 5vh;
    width: 20vw;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
}

*:focus {
    outline: none !important;
    background: transparent;
    color: transparent;
}
